.page-contact {
    .searchbar{
        input{            
            border-radius: 5px;
            border: 1px solid #aaa;
            height: 30px;
            line-height: 30px;
            padding-left: 10px;
        }
    }
}